@import '@/assets/styles/variables.scss';

aside {
	position: absolute;
	top: 0;
  left: 0;
  bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: $menu-bg;
	color: $white-color;
	width: calc(2rem + 32px);
	overflow: hidden;
	min-height: 100vh;
	padding: 0 1rem ;
	transition: .3s;
	z-index: 99;

	.logo {
		margin-top: 2rem;
		margin-left: 2rem;
		margin-bottom: 100px;
		color: $white-color;
		opacity: 0;
	}

	.aside-img {
		bottom: 0;
		left: -.06rem;
		position: absolute;
		
	}

	.menu-toggle-wrap {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1rem;
		position: relative;
		top: -9.6rem;
		left: -.3rem;
		transition: 0.2s;
		z-index: 99;

		.menu-toggle {
			opacity: .7;
			background: none;
			border: none;
			width: 20px;
			filter: invert(1);
			transition: 0.2s;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}

	h3,
	.button .text {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	h3 {
		color: $white-color-alt;
		font-size: $normal-font-size;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	.menu {
		height: 100%;
		margin: 0 -1rem;

		.button {
			display: flex;
			align-items: center;
			text-decoration: none;
			transition: .3s;
			margin-bottom: 1rem;
			padding: 12px 1rem;
			border-left: 2px solid $menu-bg;
			opacity: .7;
			cursor: pointer;
			img {
				min-width: 24px;
			}
			.icons {
				transition: .3s;
			}

			.text {
				color: $white-color;
				transition: .3s;
			}

			&:hover {
				opacity: 1;
				background-color: $menu-bg-light;
			}

			&.router-link-active {
				opacity: 1;
				background-color: $menu-bg-light;
				border-left: 2px solid $first-color
			}
		}
	}

	&.open {
		width: 256px;

		.menu-toggle-wrap {
			top: -7.9rem;

			.menu-toggle {
				transform: rotate(-180deg);
			}
		}

		h3,
		.logo,
		.button .text {
			opacity: 1;
		}

		.button {
			padding: 12px 28px 12px 30px;
			img {
				padding-right: 20px;
			}
		}
	}

	@media (max-width: 1024px) {
		position: absolute;
		z-index: 99;
	}
}