.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 100%;
}

.main__layout {
  position: relative;
  min-height: 100vh
}

.app__content {
  padding-top: 30px;
  margin-left: 244px;
  transition: padding-left .3s;
  position: relative;
  transition: .3s;
}
.app__content.full {
  margin-left: 50px;
}
.grid {
  display: grid;
  gap: 1rem;
}
.gap {
  gap: 1.5rem;
}
.flex {
  display: flex;
  align-items: center;
}

.sb {
  justify-content: space-between;
}
.end{
  margin-left: auto;
  margin-right: 0;
}

.f {
  display: flex;
  flex: 1 1 0%;
}
.section {
  padding: 1rem;
}

.section__title {
  font-size: $h2-font-size;
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}
.badge-g {
  display: flex;
  width: 93px;
  height: 30px;
  background: #7fc75e4b;
  color: #7FC75E;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  img {}
}

